.wrapper {
  background-color: #f0f1f3;
}

.listItem {
  margin: 0;
  padding-left: 18px;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
  margin-bottom: 40px;
}

.item {
  margin-bottom: 10px;
}
