.userInfo {
  position: absolute;
  top: 52px;
  width: 320px;
  height: 40px;
  background: #eff1f3;
}

/* .userInfo_vector {
} */
.userInfo_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.userInfo_item:nth-of-type(-n + 1) {
  padding-right: 30px;
}

.userInfo_item::before {
  content: "";
  display: block;
  width: 32px;
  height: 0px;
  border: 2px solid #e0e0e0;
  transform: rotate(90deg);
}
.userInfo_link {
  text-decoration: none;
  columns: #000000;
}
