.button {
  width: 176px;
  height: 44px;
  background: #fc842d;
  border-radius: 30px;
  border: none;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
   word-wrap: break-word;
  transition: all 200ms ease-in-out;
  border: 1px solid #dc6611;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.3);
  padding: 14px 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.button:hover {
  background: #e16710;
  box-shadow: 1px 6px 10px rgba(252, 132, 45, 0.7);
}
