.input {
  width: 289px;
  margin: 0;
  padding: 0;
  height: 40px;
  outline: none;
  border-radius: nullpx;
  border: 1px solid;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  outline: none;
  color: #212121;
  border: none;
  border-bottom: 1px solid #e0e0e0;

  margin-bottom: 60px;
}

input:-internal-autofill-selected {
  background: #ffffff;
}

.input::placeholder {
  color: #9b9faa;
}

@media (min-width: 768px) {
  .input {
    width: 104px;
    margin-right: 30px;
    text-align: right;
  }
}

@media (min-width: 1280px) {
  .input {
    margin-right: 20px;
  }
}
