.dailyCaloriesForm {
  padding-right: 30px;
}

.dailyCaloriesLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 240px;
  /* margin-bottom: 40px; */
}

.dailyCaloriesLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 27px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.dailyCaloriesLabel:last-child {
  margin-bottom: 0px;
  height: auto;
  border-bottom: none;
}

.dailyCaloriesName {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.dailyCaloriesInput {
  width: 80px;
  padding: 0px 4px;
  margin: 0px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border-style: none;
}

.dailyCaloriesInput::-webkit-input-placeholder {
  color: #bbbbbb;
  font-style: italic;
  font-weight: 300;
}

/*! Radio-button */
.inputRadioWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.radioGroupWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.inputRadioLabel {
  display: flex;
}

.inputRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.inputRadioName {
  display: inline-flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #9b9faa;
}

.inputRadioName::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin-right: 0.5em;
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

/* стили при наведении курсора на радио */
.inputRadioLabel .inputRadio:not(:checked) + .inputRadioName:hover::before {
  cursor: pointer;
  border-color: #9b9faa;
  box-shadow: 0px 0px 4px 0.1px #9b9faa;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.inputRadioName:active {
  color: #fc842d;
}

.inputRadio + .inputRadioName:active::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fc842d'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии checked */
.inputRadio:checked + .inputRadioName {
  color: #fc842d;
}
.inputRadio:checked + .inputRadioName::before {
  border-color: #e0e0e0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fc842d'/%3e%3c/svg%3e");
}

/*! Button */
.buttonWrapper {
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

@media screen and (min-width: 768px) {
  .dailyCaloriesForm {
    padding-right: 0px;
  }

  .dailyCaloriesLabelWrapper {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 510px;
    height: 187px;
    margin-bottom: 64px;
  }

  .dailyCaloriesLabel {
    width: 240px;
    min-height: 35.5px;
    margin-bottom: 40px;
  }

  .dailyCaloriesLabel:nth-last-of-type(3n) {
    margin-bottom: 0px;
  }

  .dailyCaloriesName {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #9b9faa;
  }

  .buttonWrapper {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .buttonWrapper {
    margin-left: 346px;
  }
}
