.listContainer {
  margin: 0 auto;
  max-height: 285px;
  width: 287px;
  overflow: auto;
  scrollbar-width: 3px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  background: #fff;
  position: absolute;
  /* top: 30px;
  left: 0px; */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.listContainer::-moz-scrollbar {
  scrollbar-color: #458245 #714826;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto;
  /* толщина */
}

/* .listContainer::-webkit-scrollbar { width: 3px;} */
/* полоса прокрутки (скроллбар) */
.listContainer::-webkit-scrollbar {
  width: 5px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */

  background-color: #dddddd;
}

/* ползунок скроллбара */
.listContainer::-webkit-scrollbar-thumb {
  background-color: #264061;
  box-shadow: 1px 1px 10px #f3faf7;
}

.listContainer::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.listContainer:hover {
  cursor: pointer;
}

.list {
  list-style: none;
  min-width: 280px;
}

.listItem {
  line-height: 40px;
  display: flex;
}

.listItem:hover {
  background: #dddddd;
}

@media (min-width: 768px) {
  .listContainer {
    max-height: 300px;
    top: 130px;
    left: 30px;
    transform: translate(0, 0);
    width: auto;
  }
} ;
