.logo {
  margin-left: 16px;
}

.header_logo {
  display: flex;
}

.imgLogoName {
  display: none;
}

@media (min-width: 768px) {
  .imgLogoName {
    display: block;
  }
}

@media (min-width: 1280px) {
  .imgLogo {
    width: 70px;
    height: 66px;
  }


}