.container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding-top: 14px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .bg {
    height: 1024px;
    background: url('../../images/Home/Layer-9.png') right bottom no-repeat,
      url('../../images/Home/Layer-4\ 1.png') left bottom no-repeat,
      url('../../images/Home/Strawberry-Big-PNG.png') right 30px bottom 180px
        no-repeat,
      url('../../images/Home/Vector\ 3.png') right bottom no-repeat;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .bg {
    height: 850px;
    background: url('../../images/Home/Layer-4\ 1-big.png') right 200px top
        no-repeat,
      url('../../images/Home/Strawberry-Big-PNG-big.png') right bottom no-repeat,
      url('../../images/Home/Layer-9-big.png') right top no-repeat,
      url('../../images/Home/Vector\ 3-big.png') right bottom no-repeat;
  }
}
