.closeButton {
  display: none;
  width: 0;
  height: 0;
}

.modal {
  margin-top: 120px;
  /* нужен маргін топ 95-90 коли не зареганий */
  background: rgba(78, 78, 78, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalWrapper {
  margin: auto;
  position: relative;
}

.topMenuModal {
  margin-top: 60px;
}

.closeButtonNav {
  position: absolute;
  top: -4%;
  right: 35%;
  border: none;
  background: white;
  font-size: 20px;

}

@media (min-width: 768px) {
  .modal {
    margin-top: 0px;
    height: 100vh;
  }

  .closeButton {
    color: black;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 5%;
    top: 3%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
  }

  .topMenuModal {
    margin-top: 60px;
  }

  .closeButtonNav {
    right: 20%;

  }

}

/* @media (min-width: 1280px) {
  .modalWrapper {
    width: 690px;
  }
} */