.wrapperСalculator {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 80px 15px 60px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
}

.titleCalculator {
  font-size: 18px;
  line-height: 26px;
  color: ##212121;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .wrapperСalculator {
    margin: 0px auto;
    padding: 100px 76px 74px 87px;
  }

  .titleCalculator {
    min-height: 70px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapperСalculator {
    margin: 0px auto 110px;
    padding: 120px 0px 0px 100px;
  }

  .titleCalculator {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 68px;
  }
}
