.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 32px 15px 78px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
}

.titleForm {
  min-height: 74px;
  font-size: 18px;
  line-height: 26px;
  color: #212121;
  margin-bottom: 30px;
}

.wrapperForm {
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0px auto;
    padding: 100px 76px 0px 87px;
  }

  .titleForm {
    min-height: 70px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 60px;
  }

  .wrapperForm {
    margin: 0px 0px 424px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    margin: 0px auto;
    padding: 146px 0px 0px 115px;
  }

  .titleForm {
    width: 605px;
    min-height: 85px;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 68px;
  }

  .wrapperForm {
    margin: 0;
  }
}
