.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 320px;
  height: 66px;
  padding-right: 16px;
}

.header::after {
  position: absolute;
  top: 44px;
  content: '';
  display: block;
  width: 320px;
  height: 0px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 18px;
}

.header_wrap {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    width: 650px;
    height: 44px;
    /* padding: 18px 70px; */
  }

  .header::after {
    width: 768px;
    left: -59px;
  }

  .header_wrap {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .header {
    width: 1280px;
    height: auto;
    border-bottom: none;
  }

  .header::after {
    width: 0px;
  }

  .header_wrap {
    /* width: 1280px; */
    margin-top: 82px;
    margin-left: 60px;
    justify-content: start;
  }
}
