.backGroundModal {
    background: #fff;
}

.button {
    display: block;
    text-align: center;
}

@media(min-width: 768px) {
    .button {
        display: none;
    }

    /* .backGroundModal {
        display: none;
    } */
}

@media(min-width: 1280px) {
    .button {
        display: none;
    }
    /* .backGroundModal {
        display: none;
    } */
}