.backGroundModal {
    background: #fff;
    width: 287px;
    text-align: center;
}

.button {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

@media(min-width: 768px) {
    .button {
        display: none;
    }

    .backGroundModal {
        width: 589px;
    }
}

@media(min-width: 1280px) {
    .button {
        display: none;
    }
    .backGroundModal {
     width: 552px;
    }
}