.input {
  position: relative;
  width: 289px;
  margin: 0;
  padding: 0;
  height: 40px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  color: #212121;
  background: rgba(1, 1, 1, 0);
  border-bottom: 1px solid #e0e0e0;

  margin-bottom: 30px;
  margin-top: 80px;
}

.input::placeholder {
  color: #9b9faa;
}

@media (min-width: 768px) {
  .input {
    width: 239px;
    margin-right: 35px;
    margin-top: 0;
    padding: 0;
  }
}
