.input {
	position: relative;
	width: 240px;
	margin: 0;
	padding: 0;
	height: 40px;
	margin-right: 30px;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.04em;
	border: none;
	outline: none;
	color: #212121;
	background: rgba(1, 1, 1, 0);
	border-bottom: 1px solid #E0E0E0;
}

.input::placeholder {
	color: #9B9FAA;
}

/* .input::before {
	content: '""';
	display: block;
	position: absolute;
	width: 239px;
	height: 50px;
	left: 20px;
	top: 50px;
	border: 100px solid #000;
	background: #000;	
} */

/* .input:active,
input:hover,
input:focus {
	border: none;
} */
