.onRegist {
}

.offRegist {
  display: none;
}

.nav_wrap {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  text-transform: uppercase;
}

.nav_hamburger {
  composes: nav_list;
  display: none;
}

.nav_link {
  text-decoration: none;
  color: #9b9faa;
}

.nav_link:hover {
  color: #212121;
}

.nav_link:focus {
  color: #212121;
}

.nav_link:active {
  color: #212121;
}

.nav_item:nth-of-type(-n + 1) {
  padding-right: 16px;
}

@media (min-width: 1280px) {
  .nav_wrap {
    padding: 0px;
  }

  .nav_list::before {
    position: relative;
    top: 10px;
    content: '';
    display: block;
    width: 32px;
    height: 0px;
    border: 2px solid #e0e0e0;
    background: #e0e0e0;
    transform: rotate(90deg);
  }

  .nav_hamburger {
    display: flex;
  }

  .offRegist {
    display: inline-block;
  }
}
